<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!--{% block title %}-->
<!--Add-->
<!--{% endblock %}-->
<!--<center>-->
    {% block content %}
<!--<h3 class="mt-4">Add  Films</h3>-->
<!--<form method="POST" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--<div class="mb-3">-->
<!--  <label  class="form-label">Name</label>-->
<!--  <input type="text" class="form-control"  name="n" placeholder="Enter the Movie Name">-->
<!--</div>-->
<!--    <div class="mb-3">-->
<!--  <label  class="form-label">DESC</label>-->
<!--  <input type="text" class="form-control" name="d" placeholder="Enter the discription">-->
<!--</div>-->

<!--    <div class="mb-3">-->
<!--  <label  class="form-label">Year</label>-->
<!--  <input type="text" class="form-control" name="y" placeholder="Enter the Year">-->
<!--</div>-->
<!--    <div class="mb-3">-->
<!--  <label  class="form-label">IMG</label>-->
<!--  <input type="file" class="form-control" name="i" placeholder="Add Poster">-->
<!--</div>-->


<!--    <div class="mb-3">-->

<!--  <input type="submit" class="form-control">-->
<!--</div>-->
<!--    </form>-->
<!--    </center>-->



<form method="post" enctype="multipart/form-date">
  {% csrf_token %}
  <table>
    {{form|crispy}}

  </table>
  <input type="submit">
</form>

{% endblock %}